@media only screen and (max-width: 480px) {
    .content{
        margin-left: 15px;
        margin-top: 40px;
        margin-bottom: 37px;
    }
    .row .col{
        width: 100%;
    }
    .col{
        margin: 0;
        height: 300px;
    }
    .col:first-child{
        text-align: initial;
    }
    .info h2{
        font-size: 31px;
        line-height: 49px;
        letter-spacing: 0px;
        word-spacing: 4px;
        width: 363px;
    }
    .foot .copy{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        left: 0;
        top: 45px;
        margin-bottom: 0;
        text-align: initial;
    }
} 